@font-face {
  font-family: OpenSans;
  src: url(../fonts/opensans.woff);
}

@font-face {
  font-family: OpenSans2;
  src: url(../fonts/opensans.woff2);
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/opensansbold.woff);
}

@font-face {
  font-family: OpenSansBold2;
  src: url(../fonts/opensansbold.woff2);
}

@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/opensanslight.woff);
}

@font-face {
  font-family: OpenSansLight2;
  src: url(../fonts/opensanslight.woff2);
}
