.button {

}

.button--download {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 32px;
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  line-height: 18px;
  color: #ffffff;
}

.button--send {
  float: left;
}
