.featured-item {
  display: inline-block;
}

.featured-item-headline {
  width: 140px;
  height: 35px;
  background-color: #d22856;
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
}
