.main-nav__items {
  font-family: OpenSansBold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  list-style-type: none;
}

.main-nav__item a {
  color: #ffffff;
  text-decoration: none;
}
