.main-footer {
  width: 320px;
  border: 2px solid red;
}

.main-footer p {
  margin: 0;
}

.contacts__item-headline {
  padding-bottom: 45px;
  font-family: OpenSansLight, Arial, sans-serif;
  font-size: 24px;
}

.contacts__item {
  padding-bottom: 28px;
}

.contacts__item b {
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.contacts__item p {
  font-family: OpenSansLight, Arial, sans-serif;
  font-size: 24px;
  color: #d22856;
}
