.main-header-pages {
  min-height: 235px;
  text-align: center;
}

.main-header-pages__headline,
.main-header-pages__headline-photos {
  display: inline-block;
  width: 230px;
  padding-bottom: 53px;
  vertical-align: middle;
  font-family: OpenSansLight, Arial, sans-serif;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 700px) {
  .main-header-pages {
    min-height: 440px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .main-header-pages {
    min-height: 390px;
    text-align: center;
  }

  .main-header-pages__headline {
    width: 510px;
  }
}
