.pink-contest {
  padding-bottom: 75px;
  border: 2px solid red;
}

.pink-contest__headline {
  width: 275px;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.pink-contest__form-label {
  display: block;
  margin-bottom: 15px;
  font-family: OpenSansLight, Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
}

.pink-contest__form-input {
  margin-bottom: 27px;
}

@media screen and (min-width: 700px) {
  .pink-contest {
    text-align: center;
  }

  .pink-contest__headline {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
  }

  .pink-contest__form {
    text-align: left;
  }

  .pink-contest__form-label {
    display: inline-block;
    vertical-align: baseline;
  }

  .pink-contest__form-input {
    width: 525px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 20px;
  }

  .pink-contest__form-input:nth-child(4) {
    width: 558px;
  }
}

@media screen and (min-width: 1200px) {
  .pink-contest__form-input {
    width: 375px;
  }

  .pink-contest__form-input:nth-child(4) {
    width: 410px;
  }
}
