.pink-reviews {
  padding-bottom: 133px;
  border: 2px solid red;
}

.pink-reviews__item h2 {
  margin: 0;
  font-family: OpenSansBold, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #283645;
}

.pink-reviews__item p {
  width: 280px;
  padding-bottom: 40px;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

@media screen and (min-width: 700px) {
  .pink-reviews {
    text-align: center;
  }

  .pink-reviews__item {
    text-align: center;
  }

  .pink-reviews__item p {
    width: 620px;
  }

  .pink-reviews__item h2 {
    position: absolute;
    left: 36%;
    top: 35%;
  }

  .slider-input {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .pink-reviews__item {
    text-align: center;
  }

  .pink-reviews__item p {
    width: 685px;
    display: inline-block;
    vertical-align: middle;
  }

  .pink-reviews__item h2 {
    position: absolute;
    left: 41%;
    top: 35%;
  }

  .slider-input {
    margin-top: 50px;
  }
}
